<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  <system.serviceModel>

    <extensions>
      <behaviorExtensions>
        <add name="customWebBehavior" type="Dorado.ESB.Communication.CustomWebSection, Dorado.ESB.Communication, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" />
        <add name="msgFormatterInserter" type="Dorado.ESB.Communication.MessageFormatterInserter, Dorado.ESB.Communication, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" />
      </behaviorExtensions>

      <bindingElementExtensions>
        <add name="customMessageEncoding" type="Dorado.ESB.Communication.CustomEncodingBindingSection, Dorado.ESB.Communication, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" />
        <add name="customTransport" type="Dorado.ESB.Communication.CustomTransportBindingSection, Dorado.ESB.Communication, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" />
      </bindingElementExtensions>
    </extensions>

    <bindings>
      <customBinding>

        <binding name="jsonpBinding">
          <customMessageEncoding encoderType="Dorado.ESB.Communication.JsonpEncoder, Dorado.ESB.Communication" />
          <customTransport scheme="wse.tcp" channelFactoryType="Dorado.ESB.Communication.WseTcpChannelFactory, Dorado.ESB.Communication" channelListenerType="Dorado.ESB.Communication.WseTcpChannelListener, Dorado.ESB.Communication" />
          <!-- <httpTransport manualAddressing="true" /> -->
        </binding>

        <binding name="protobufBinding">
          <customMessageEncoding encoderType="Dorado.ESB.Communication.ProtoBufEncoder,Dorado.ESB.Communication" />
          <httpTransport manualAddressing="true" />
        </binding>
      </customBinding>
    </bindings>

    <behaviors>
      <endpointBehaviors>
        <behavior name="customBindingBehavior">
          <customWebBehavior />
          <msgFormatterInserter formatterType="Dorado.ESB.Communication.JsonParametersFormatter,Dorado.ESB.Communication" serializerType="Dorado.ESB.Communication.JsonObjectSerializer,Dorado.ESB.Communication" />
        </behavior>
      </endpointBehaviors>
    </behaviors>

    <services>
      <service name="__Dorado.webhttp.ApiWcf">
        <endpoint address="" binding="customBinding" bindingConfiguration="jsonpBinding"
            behaviorConfiguration="customBindingBehavior" contract="__Dorado.webhttp.ApiWcf" />
        <host>
          <baseAddresses>
            <add baseAddress="wse.tcp://localhost:8002" />
          </baseAddresses>
        </host>
      </service>
    </services>
  </system.serviceModel>
</configuration>