<?xml version="1.0"?>
<configuration>
    <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/></startup>
	<appSettings>
    <add key="ApplicationName" value="Dorado.VWS"/>
		<add key="AuthorName" value="Dorado.zsync@dev.Dorado.com"/>
		<!--发件人邮箱 -->
		<add key="UserName" value="Dorado.zsync"/>
		<!--发送邮件账号-->
		<add key="Pwd" value="vancl123!"/>
		<!--发送邮件密码-->
		<add key="SmtpPort" value="25"/>
		<!--SMTP端口-->
		<add key="SmtpServer" value="Smtpsrv02.dev.Dorado.com"/>
		<!--SMTP服务器-->
		<add key="SMTP_Credentify" value="0"/>
		<!--SMTP验证 1需要验证 0不需要-->
		<add key="AuthorName" value="Dorado.zsync@dev.Dorado.com"/>
		<!--发送邮件地址-->
		<add key="UserName" value="Dorado.zsync"/>
		<!--发送邮件账号-->
		<add key="Pwd" value="vancl123!"/>
		<!--发送邮件密码-->
		<add key="SmtpPort" value="25"/>
		<!--SMTP端口-->
		<add key="SmtpServer" value="Smtpsrv02.dev.Dorado.com"/>
		<!--SMTP服务器-->
		<add key="SMTP_Credentify" value="0"/>
		<!--SMTP验证 1需要验证 0不需要-->
		<add key="MailTitle" value="同步系统通知，请尽快处理挂起的任务TaskID:{0},系统邮件,请勿直接答复"/>
		<add key="MailBody" value="域名:{0}  &lt;br/&gt;您有一个同步任务挂起中，这通常是由于同步任务没有更新所有主机引起的。 &lt;br/&gt;
			 任务挂起时，同步的文件处于被占用状态，其他用户将不能同步这些文件，您也不可以对该域名进行其他同步操作。
			 &lt;br/&gt;&lt;br/&gt;请尽快处理该任务，处理方式： &lt;br/&gt;
			 1. 进入同步菜单，选择域名: {0}，将剩余未同步的主机全部同步完。 &lt;br/&gt;
2. 进入同步菜单，选择域名: {0}，将挂起的任务撤销。
&lt;br/&gt;&lt;br/&gt;&lt;br/&gt; &lt;br/&gt;
如仍无法解决此问题，请与我们联系：&lt;br/&gt;
雷斌    len@dorado.com&lt;br/&gt;
何永东  &lt;br/&gt;
赵金义  zhaojinyi@dorado.com&lt;br/&gt;

&lt;br/&gt; &lt;br/&gt;
			   系统邮件,请勿直接答复&lt;br/&gt;http://zsync.dev.Dorado.com"/>

		<add key="MailCC" value=",len@dorado.com,zhaojinyi@dorado.com"/>
		<add key="CheckInterval" value="3600"/>
		<add key="NoticHour" value="8,11,13,16,18"/>
		<!--间隔，秒-->
	</appSettings>
</configuration>
