<?xml version="1.0" encoding="utf-8" ?>
<JsonFormatting>
  <IgnoredInterface>AddPreSignup</IgnoredInterface>
  <IgnoredInterface>GetPreSignupInfoByEmail</IgnoredInterface>
  <IgnoredInterface>GetPreSignupInfoByPhone</IgnoredInterface>
  <IgnoredInterface>GetPreSignupInfoByValidationCode</IgnoredInterface>
  <IgnoredInterface>RaiseGenericActivity</IgnoredInterface>
  <IgnoredInterface>RaiseGenericActivityWithPermission</IgnoredInterface>
  <IgnoredInterface>GetRelations</IgnoredInterface>
  <IgnoredInterface>GetUserRanks</IgnoredInterface>
  <IgnoredInterface>GetUserPreferences</IgnoredInterface>
  <IgnoredInterface>GetMobileSettings</IgnoredInterface>
  <IgnoredInterface>UpdateMobileSettings</IgnoredInterface>
</JsonFormatting>