<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="LocalRepository" type="Beisen.BSP.ESB.Common.Config.LocalRepositorySection, Beisen.BSP.ESB.Common, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null"/>
    <section name="ConfigBasedApplications" type="Beisen.Configuration.XmlSerializerSectionHandler,Beisen.Configuration" />
  </configSections>

  <LocalRepository enable="true" endpointName="boot">
    <HostMetadata hostName="API_BeisenPlatformServices" assemblyNames="Beisen.BSP.ESB.Core">
      <Services>
        <add name="PlatformServicesComponent.HelloWorld"
                          serviceType="PlatformServiceComponent.HelloWorld.HelloWorldService"
                          appDomainHostName="Beisen.BSP.ESB.HelloWorld"
                          config="LocalRepository\HelloWorld\PlatformServiceComponent.HelloWorld.config"
                          assemblyFolderName="LocalRepository\HelloWorld"
                          assemblyNames="PlatformServiceComponent.HelloWorld" 
             />



        <!--<add name="Beisen.DomainLoader"
             serviceType ="Beisen.BSP.ESB.Core.DomainLoader"/>
             -->

      </Services>
    </HostMetadata>
  </LocalRepository>
 

  <appSettings>
    <add key="applicationName" value="Beisen.PlatformServices"/>
    <add key="PowerShellServerHost" value="Enabled"/>
    <add key="ValidRequestTimeDuration" value="15" />
    <add key="logging" value="Enabled" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
    <add key="PerfLogTrack" value="Disabled"/>
  </appSettings>

  <runtime>
    <gcServer enabled="true"/>
  </runtime>

  <system.serviceModel>
    <diagnostics performanceCounters="All" />

    <services>
      <service name="Beisen.BSP.ESB.Core.DomainLoader" behaviorConfiguration="loader">
        <endpoint address="net.pipe://localhost/DomainLoader"
						  binding="netNamedPipeBinding"
						  bindingConfiguration="loader"
						  contract="Beisen.BSP.ESB.Core.Contracts.IDomainLoader" />
      </service>

    </services>

    <client>
      <endpoint name="boot"
					  address="net.pipe://localhost/LocalRepository"
					  binding="netNamedPipeBinding"
					  bindingConfiguration="bootstrap"
					  contract="Beisen.BSP.ESB.Core.Contracts.IBootstrap"/>
    </client>

    <behaviors>
      <serviceBehaviors>
        <behavior name="loader">
          <serviceMetadata httpGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="true" />
        </behavior>
      </serviceBehaviors>
    </behaviors>

    <bindings>
      <netNamedPipeBinding>
        <binding name="bootstrap" >
          <readerQuotas maxStringContentLength="2000000" />
          <security mode="None"/>
        </binding>
        <binding name="loader" >
          <readerQuotas maxStringContentLength="500000" />
        </binding>
      </netNamedPipeBinding>
    </bindings>
  </system.serviceModel>

</configuration>