<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="applicationName" value="Dorado.ESB.Framework" />

    <!-- Production, Development, Testing, Labs -->
    <add key="environment" value="Production" />
  </appSettings>
  <runtime>
    <gcServer enabled="true" />
  </runtime>
  <system.serviceModel>
    <diagnostics performanceCounters="All" />
  </system.serviceModel>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
  </startup>
</configuration>