<?xml version="1.0" encoding="utf-8"?>
<ESBClientSettings xmlns="http://beisen.com/ESBClientSettings.xsd" majorVersion="1" minorVersion="88888">
  <Services>
    <Service Name="PlatformServices_Beisen.ReportEngine.ServiceImp" Enabled="true" ControlLevel="Whole" Wrapper="true" UseLocalService="false" Type="Beisen.ReportEngine.ServiceInterface.IReportProvider" Namespace="Beisen.ReportEngine.ServiceInterface">
      <Protocols>
        <Protocol Name="NetTcp">
          <Nodes LoadBalanceStrategy="Random" FailedStrategy="ImmediatelySwitch" TryNumber="1">
            <Node Enabled="true" Host="10.129.6.21" ListenPort="8801" IsVIP="true" Weight="0.5" />
            <Node Enabled="true" Host="10.129.6.22" ListenPort="8801" IsVIP="true" Weight="0.5" />
            <Node Enabled="true" Host="10.129.6.23" ListenPort="8801" IsVIP="false" Weight="0.5" />
            <Node Enabled="true" Host="10.129.6.24" ListenPort="8801" IsVIP="false" Weight="0.5" />
          </Nodes>
          <ChannelPool Enabled="true" PoolSize="32" WaitingTimeout="1" />
        </Protocol>
        <Protocol Name="BasicHttp">
          <Nodes LoadBalanceStrategy="WeightedRandom" FailedStrategy="ImmediatelySwitch" TryNumber="1">
            <Node Enabled="true" Host="10.129.6.21" ListenPort="8800" IsVIP="true" Weight="0.5" />
            <Node Enabled="true" Host="10.129.6.22" ListenPort="8800" IsVIP="true" Weight="0.5" />
            <Node Enabled="true" Host="10.129.6.23" ListenPort="8800" IsVIP="false" Weight="0.5" />
            <Node Enabled="true" Host="10.129.6.24" ListenPort="8800" IsVIP="false" Weight="0.5" />
          </Nodes>
          <ChannelPool Enabled="true" PoolSize="32" WaitingTimeout="1" />
        </Protocol>
        <Protocol Name="WebHttp">
          <Nodes LoadBalanceStrategy="WeightedRandom" FailedStrategy="ImmediatelySwitch" TryNumber="1">
            <Node Enabled="true" Host="10.129.6.21" ListenPort="8802" IsVIP="true" Weight="0.5" />
            <Node Enabled="true" Host="10.129.6.22" ListenPort="8802" IsVIP="true" Weight="0.5" />
            <Node Enabled="true" Host="10.129.6.23" ListenPort="8802" IsVIP="false" Weight="0.5" />
            <Node Enabled="true" Host="10.129.6.24" ListenPort="8802" IsVIP="false" Weight="0.5" />
          </Nodes>
          <ChannelPool Enabled="true" PoolSize="32" WaitingTimeout="1" />
        </Protocol>
      </Protocols>
      <Providers NotConfiguredStrategy="Remote">
        <Provider Name="IReportProvider">
          <Methods>
            <Method UseLocal="true" Name="Divide" />
          </Methods>
        </Provider>
      </Providers>
      <Bindings>
        <Binding Name="NetTcp" CloseTimeout="00:05:00" OpenTimeout="00:00:02" ReceiveTimeout="00:05:00" SendTimeout="00:05:00" TransactionFlow="false" TransferMode="Buffered" TransactionProtocol="OleTransactions" HostNameComparisonMode="StrongWildcard" ListenBacklog="1000" MaxBufferPoolSize="1073741824" MaxBufferSize="1073741824" MaxConnections="100" MaxReceivedMessageSize="1073741824" BindingType="netTcpBinding">
          <ReaderQuotas MaxDepth="64" MaxStringContentLength="67108864" MaxArrayLength="16384" MaxBytesPerRead="131072" MaxNameTableCharCount="16384" />
        </Binding>
        <Binding Name="BasicHttp" CloseTimeout="00:01:00" OpenTimeout="00:00:02" ReceiveTimeout="00:01:00" SendTimeout="00:01:00" TransactionFlow="false" TransferMode="Buffered" TransactionProtocol="OleTransactions" HostNameComparisonMode="StrongWildcard" ListenBacklog="1000" MaxBufferPoolSize="1073741824" MaxBufferSize="1073741824" MaxConnections="100" MaxReceivedMessageSize="1073741824">
          <ReaderQuotas MaxDepth="64" MaxStringContentLength="131072" MaxArrayLength="16384" MaxBytesPerRead="131072" MaxNameTableCharCount="16384" />
        </Binding>
        <Binding Name="WebHttp" CloseTimeout="00:01:00" OpenTimeout="00:00:02" ReceiveTimeout="00:01:00" SendTimeout="00:01:00" TransactionFlow="false" TransferMode="Buffered" TransactionProtocol="OleTransactions" HostNameComparisonMode="StrongWildcard" ListenBacklog="1000" MaxBufferPoolSize="1073741824" MaxBufferSize="1073741824" MaxConnections="100" MaxReceivedMessageSize="1073741824">
          <ReaderQuotas MaxDepth="64" MaxStringContentLength="131072" MaxArrayLength="16384" MaxBytesPerRead="131072" MaxNameTableCharCount="16384" />
        </Binding>
      </Bindings>
      <Heartbeat Enabled="true" Interval="2000" />
      <FileGeneration SourceFileTemplate="c:\{type}_ReportEngine.cs" SourceFactoryFileTemplate="c:\{type}_ReportEngine_factory.cs" Enabled="false" />
    </Service>
  </Services>
  <ClientNodes>
    <ClientNode Name="assess.tms.beisen.com" CurrentProtocol="NetTcp" VipChannel="false" />
    <ClientNode Name="tms.beisen.com" CurrentProtocol="NetTcp" VipChannel="false" />
    <ClientNode Name="Beisen.ReportEngine" CurrentProtocol="NetTcp" VipChannel="true" />
  </ClientNodes>
  <VIPS>
    <VIP Name="ICBC" UniqueId="8382"  VipChannel="false" />
    <VIP Name="TaoBao" UniqueId="9382"  VipChannel="true" />
    <VIP Name="Google" UniqueId="7982" VipChannel="true" />
  </VIPS>
</ESBClientSettings>