<%@ CodeTemplate  Language="C#" TargetLanguage="C#" ResponseEncoding="UTF-8" Description="Generates a DMMIS EntityClass." %>
<%@ Property Name="SourceDatabase" Type="SchemaExplorer.DatabaseSchema" Category="Context"   Description="Database" %>
<%@ Property Name="NamePlaceName" Type="System.String" Description="This will show up at the bottom of the property grid when the property is selected." %>
<%@ Assembly Name="SchemaExplorer" %>
<%@ Import Namespace="SchemaExplorer" %>
<%@ Import Namespace="System.Data" %>

<%@ Register Name="ListTemplate" Template="List.cst" MergeProperties="False" ExcludeProperties="" %>
<%@ Register Name="AddTemplate" Template="Add.cst" MergeProperties="False" ExcludeProperties="" %>
<%@ Register Name="ViewTemplate" Template="View.cst" MergeProperties="False" ExcludeProperties="" %>
<%@ Register Name="EditTemplate" Template="Edit.cst" MergeProperties="False" ExcludeProperties="" %>
<%@ Register Name="ControllerTemplate" Template="Controller.cst" MergeProperties="False" ExcludeProperties="" %>
<%@ Register Name="ControllerPartialTemplate" Template="Controller.Partial.cst" MergeProperties="False" ExcludeProperties="" %>
<%@ Register Name="MenuTemplate" Template="Menu.cst" MergeProperties="False" ExcludeProperties="" %>
<%@ Register Name="EntityTemplate" Template="Entity.cst" MergeProperties="False" ExcludeProperties="" %>
<%@ Register Name="TableTemplate" Template="Table.cst" MergeProperties="False" ExcludeProperties="" %>
<%@ Register Name="CacheTemplate" Template="Cache.cst" MergeProperties="False" ExcludeProperties="" %>
<%@ Register Name="TableEnumTemplate" Template="TableEnum.cst" MergeProperties="False" ExcludeProperties="" %>
<%@ Register Name="TableDictTemplate" Template="TableDict.cst" MergeProperties="False" ExcludeProperties="" %>

<script runat="template">
  private string _CodeDirectory=string.Empty;

[Editor(typeof(System.Windows.Forms.Design.FolderNameEditor), typeof(System.Drawing.Design.UITypeEditor))]
[Optional,NotChecked]
[DefaultValue("")]
public string CodeDirectory
{
      get {return _CodeDirectory;}
      set {
        if(value.EndsWith("\\"))
        value=value.Substring(0,value.Length-1);
        _CodeDirectory= value;
        }
}
</script>

<script runat="template">
private void GenerateListCode()
{
    ListTemplate template=new ListTemplate();
    foreach(TableSchema table in this.SourceDatabase.Tables)
    {
        string fileDirectory=CodeDirectory+"\\UI\\"+GetClassName(table.Name)+"\\"+GetShortName(table.Name)+".cshtml";
    template.SetProperty("NamePlaceName",this.NamePlaceName);
    template.SetProperty("SourceTable",table);
        template.RenderToFile(fileDirectory,true);
        
        }
}
private void GenerateAddCode()
{
    AddTemplate template=new AddTemplate();
    foreach(TableSchema table in this.SourceDatabase.Tables)
    {
        if(!table.Description.Contains("view")){
        string fileDirectory=CodeDirectory+"\\UI\\"+GetClassName(table.Name)+"\\"+GetShortName(table.Name)+"Add.cshtml";
    template.SetProperty("NamePlaceName",this.NamePlaceName);
    template.SetProperty("SourceTable",table);
        template.RenderToFile(fileDirectory,true);
        }
        
        }
}
private void GenerateViewCode()
{
    ViewTemplate template=new ViewTemplate();
    foreach(TableSchema table in this.SourceDatabase.Tables)
    {
        string fileDirectory=CodeDirectory+"\\UI\\"+GetClassName(table.Name)+"\\"+GetShortName(table.Name)+"View.cshtml";
    template.SetProperty("NamePlaceName",this.NamePlaceName);
    template.SetProperty("SourceTable",table);
        template.RenderToFile(fileDirectory,true);
        
        }
}
private void GenerateEditCode()
{
    EditTemplate template=new EditTemplate();
    foreach(TableSchema table in this.SourceDatabase.Tables)
    {
         if(!table.Description.Contains("view")){
        string fileDirectory=CodeDirectory+"\\UI\\"+GetClassName(table.Name)+"\\"+GetShortName(table.Name)+"Edit.cshtml";
    template.SetProperty("NamePlaceName",this.NamePlaceName);
    template.SetProperty("SourceTable",table);
        template.RenderToFile(fileDirectory,true);}
        
        }
}

private void GenerateControllerCode()
{
 ControllerTemplate template=new ControllerTemplate();
    Dictionary<string,List<TableSchema>>  groupTables=GetGroupTables();
    foreach(KeyValuePair<string,List<TableSchema>> table in groupTables){
    string fileDirectory=CodeDirectory+"\\Controller\\"+table.Key+"Controller.cs";
    template.SetProperty("NamePlaceName",this.NamePlaceName);
    template.SetProperty("SourceTables",table.Value);
    template.SetProperty("BSName",table.Key);
    template.RenderToFile(fileDirectory,true);
    }
}
 
private void GenerateControllerPartialCode()
{
    ControllerPartialTemplate template=new ControllerPartialTemplate();
    Dictionary<string,List<TableSchema>>  groupTables=GetGroupTables();
    foreach(KeyValuePair<string,List<TableSchema>> table in groupTables){
    string fileDirectory=CodeDirectory+"\\Controller\\"+table.Key+"Controller.Partial.cs";
    template.SetProperty("NamePlaceName",this.NamePlaceName);
    template.SetProperty("SourceTables",table.Value);
    template.SetProperty("BSName",table.Key);
    template.RenderToFile(fileDirectory,true);
    }
}
 
private void GenerateMenuCode()
{
 MenuTemplate template=new MenuTemplate();
    Dictionary<string,List<TableSchema>>  groupTables=GetGroupTables();
    string fileDirectory=CodeDirectory+"\\menu.js";
    template.SetProperty("SourceTables",groupTables);
    template.RenderToFile(fileDirectory,true); 
}
private void GenerateEntityCode()
{
    EntityTemplate template=new EntityTemplate();
    foreach(TableSchema table in this.SourceDatabase.Tables)
    {string fileDirectory=CodeDirectory+"\\Model\\Entity\\"+table.Name+".cs";
    template.SetProperty("NamePlaceName",this.NamePlaceName);
    template.SetProperty("SourceTable",table);
        template.RenderToFile(fileDirectory,true);
        
    }
}
private void GenerateTableCode()
{
    TableTemplate template=new TableTemplate();
    foreach(TableSchema table in this.SourceDatabase.Tables)
    {string fileDirectory=CodeDirectory+"\\Service\\Data\\T_"+table.Name+".cs";
    template.SetProperty("NamePlaceName",this.NamePlaceName);
    template.SetProperty("SourceTable",table);
        template.RenderToFile(fileDirectory,true);
        
    }
}   

private void GenerateCacheCode()
{
 CacheTemplate template=new CacheTemplate();
    Dictionary<string,List<TableSchema>>  groupTables=GetGroupTables();
    foreach(KeyValuePair<string,List<TableSchema>> table in groupTables){
    string fileDirectory=CodeDirectory+"\\Service\\Cache\\"+table.Key+"CacheProvider.cs";
    template.SetProperty("NamePlaceName",this.NamePlaceName);
    template.SetProperty("SourceTables",table.Value);
    template.SetProperty("BSName",table.Key);
    template.RenderToFile(fileDirectory,true);
    }
}

 private void GenerateDictCode()
{
 MenuTemplate template=new MenuTemplate();
    Dictionary<string,List<TableSchema>>  groupTables=GetGroupTables();
    string fileDirectory=CodeDirectory+"\\Dict.json";
    template.SetProperty("SourceTables",groupTables);
    template.RenderToFile(fileDirectory,true); 
}

private void GenerateTableEnumCode()
{
 TableEnumTemplate template=new TableEnumTemplate();
    Dictionary<string,List<TableSchema>>  groupTables=GetGroupTables();
    string fileDirectory=CodeDirectory+"\\Model\\Enum\\TableEnum.cs";
     template.SetProperty("NamePlaceName",this.NamePlaceName);
    template.SetProperty("SourceTables",groupTables);
    template.RenderToFile(fileDirectory,true); 
}

private void GenerateTableDictCode()
{
 TableDictTemplate template=new TableDictTemplate();
    Dictionary<string,List<TableSchema>>  groupTables=GetGroupTables();
    string fileDirectory=CodeDirectory+"\\TableDict.sql";
     template.SetProperty("NamePlaceName",this.NamePlaceName);
    template.SetProperty("SourceTables",groupTables);
    template.RenderToFile(fileDirectory,true); 
}
private string GetClassName(string tableName){
    int index=tableName.IndexOf("_");
if(index>-1)
{
    return tableName.Substring(0,index);
}
return "Main";
}
private string GetShortName(string tableName){
    int index=tableName.IndexOf("_");
if(index>-1)
{
    return tableName.Substring(index+1);
}
return tableName;
}
private Dictionary<string,List<TableSchema>> GetGroupTables(){

List<string> groupTables=new List<string>();

foreach(TableSchema table in this.SourceDatabase.Tables)
{
    string bsName=table.Name.Substring(0,table.Name.IndexOf("_"));
    if(!groupTables.Contains(bsName))
      {
          groupTables.Add(bsName);
      }
}
Dictionary<string,List<TableSchema>> groupTables1=new Dictionary<string,List<TableSchema>>();
List<TableSchema> tableList;
foreach(string tableName in groupTables){
    tableList=new List<TableSchema>();
    foreach(TableSchema table in this.SourceDatabase.Tables)
    {
        string bsName=table.Name.Substring(0,table.Name.IndexOf("_"));
        if(tableName==bsName)
        {
            tableList.Add(table);
        }
    }
    groupTables1.Add(tableName,tableList);
}
return groupTables1;
}


</script>
<%

CodeDirectory=@"c:\DoradoCode\";

Response.WriteLine("\nCode Generate Begin\n");

this.GenerateMenuCode();
Response.WriteLine("菜单代码生成完毕");
Response.WriteLine(new string('-',50));

this.GenerateListCode();
this.GenerateAddCode();
this.GenerateViewCode();
this.GenerateEditCode();
Response.WriteLine("UI代码生成完毕");
Response.WriteLine(new string('-',50));

this.GenerateControllerCode();
this.GenerateControllerPartialCode();
Response.WriteLine("Controller代码生成完毕");
Response.WriteLine(new string('-',50));

this.GenerateTableCode();
this.GenerateTableEnumCode();
this.GenerateTableDictCode();
this.GenerateEntityCode();
this.GenerateCacheCode();
Response.WriteLine("Data代码生成完毕");
Response.WriteLine(new string('-',50));

Response.WriteLine("\nCode Generate Over");

%>