<?xml version="1.0" encoding="utf-8"?>
<PlatformServicesServerConfig majorVersion="1" minorVersion="9">
  <HostMetadata hostName="API_MySpacePlatformServices" assemblyNames="MySpace.PlatformServices.Core">
    <Service 
	name="HelloWorldApp.Library" 
	serviceType="HelloWorldApp.Library.HelloWorldService" 
	appDomainHostName="Beisen.ESB.HelloWorldApp" 	
	config="LocalRepository\HelloWorldApp\HelloWorldApp.Library.dll.config" 
	assemblyFolderName="LocalRepository\HelloWorldApp" 
	assemblyNames="HelloWorldApp.Library" 
	wcfType="ServiceHost" 
    />
    
     <Service 
	name="HelloWcfApp.Library" 
	serviceType="HelloWcfApp.Library.HelloWcfService" 
	appDomainHostName="Beisen.ESB.HelloWcfApp" 	
	config="LocalRepository\HelloWcfApp\HelloWcfApp.Library.dll.config" 
	assemblyFolderName="LocalRepository\HelloWcfApp" 
	assemblyNames="HelloWcfApp.Library" 
	wcfType="ServiceHost" 
    />
  </HostMetadata>
</PlatformServicesServerConfig>
