<?xml version="1.0" encoding="utf-8"?>
<RelayTypeSettings xmlns="http://myspace.com/RelayTypeSettings.xsd" majorVersion="1" minorVersion="105">
  <TypeSettingCollection>
    <TypeSetting TypeName="MySpace.DataRelay.GenericStorage">
      <TypeId>1</TypeId>
      <Disabled>false</Disabled>
      <Compress>false</Compress>
      <GroupName>TmsGenericStorage</GroupName>
    </TypeSetting>
    <TypeSetting TypeName="Dorado.PlatformServices.Indicator.ServiceImp.TenantMessageListCollection">
      <TypeId>2</TypeId>
      <Disabled>false</Disabled>
      <Compress>false</Compress>
      <GroupName>Indicator</GroupName>
    </TypeSetting>
    <TypeSetting TypeName="Dorado.PlatformServices.Indicator.ServiceImp.UserMessageListCollection">
      <TypeId>3</TypeId>
      <Disabled>false</Disabled>
      <Compress>false</Compress>
      <GroupName>Indicator</GroupName>
    </TypeSetting>
    <TypeSetting TypeName="Dorado.Indicator.IndicatorCollection">
      <TypeId>4</TypeId>
      <Disabled>false</Disabled>
      <Compress>false</Compress>
      <GroupName>Indicator</GroupName>
    </TypeSetting>
    <TypeSetting TypeName="Dorado.YiHeng.DataRelayCommon.Model.UserAnswerInfo">
      <TypeId>5</TypeId>
      <Disabled>false</Disabled>
      <Compress>false</Compress>
      <GroupName>GenericStorage</GroupName>
    </TypeSetting>
    <TypeSetting TypeName="Dorado.YiHeng.DataRelayCommon.Model.UserExportInfo">
      <TypeId>6</TypeId>
      <Disabled>false</Disabled>
      <Compress>false</Compress>
      <GroupName>GenericStorage</GroupName>
    </TypeSetting>
    <TypeSetting TypeName="Dorado.YiHeng.DataRelayCommon.Model.DownLoadInfo">
      <TypeId>7</TypeId>
      <Disabled>false</Disabled>
      <Compress>false</Compress>
      <GroupName>GenericStorage</GroupName>
    </TypeSetting>
    <TypeSetting TypeName="System.Web.Mvc.Html.ConstCache">
      <TypeId>8</TypeId>
      <Disabled>false</Disabled>
      <Compress>false</Compress>
      <GroupName>TmsGenericStorage</GroupName>
    </TypeSetting>
    <TypeSetting TypeName="Dorado.Definition.SysConst.ConstCategoryList">
      <TypeId>9</TypeId>
      <Disabled>false</Disabled>
      <Compress>false</Compress>
      <GroupName>TmsGenericStorage</GroupName>
    </TypeSetting>
    <TypeSetting TypeName="Dorado.Definition.SysConst.ConstList">
      <TypeId>10</TypeId>
      <Disabled>false</Disabled>
      <Compress>false</Compress>
      <GroupName>TmsGenericStorage</GroupName>
    </TypeSetting>
    <TypeSetting TypeName="Dorado.Definition.SysConst.ConstValueList">
      <TypeId>11</TypeId>
      <Disabled>false</Disabled>
      <Compress>false</Compress>
      <GroupName>TmsGenericStorage</GroupName>
    </TypeSetting>
    <TypeSetting TypeName="Dorado.Definition.SysConst.ConstValueCollection">
      <TypeId>12</TypeId>
      <Disabled>false</Disabled>
      <Compress>false</Compress>
      <GroupName>TmsGenericStorage</GroupName>
    </TypeSetting>
    <TypeSetting TypeName="Dorado.User.OnlineUser">
      <TypeId>13</TypeId>
      <Disabled>false</Disabled>
      <Compress>false</Compress>
      <GroupName>MemCache</GroupName>
    </TypeSetting>
    <TypeSetting TypeName="Dorado.User.UserFunction">
      <TypeId>14</TypeId>
      <Disabled>false</Disabled>
      <Compress>false</Compress>
      <GroupName>TmsGenericStorage</GroupName>
    </TypeSetting>
    <TypeSetting TypeName="Dorado.User.UserMenu">
      <TypeId>15</TypeId>
      <Disabled>false</Disabled>
      <Compress>false</Compress>
      <GroupName>TmsGenericStorage</GroupName>
    </TypeSetting>
    <TypeSetting TypeName="Dorado.User.ProductVersionCache">
      <TypeId>16</TypeId>
      <Disabled>false</Disabled>
      <Compress>false</Compress>
      <GroupName>MemCache</GroupName>
    </TypeSetting>
    <TypeSetting TypeName="Dorado.User.Tenant">
      <TypeId>17</TypeId>
      <Disabled>false</Disabled>
      <Compress>false</Compress>
      <GroupName>MemCache</GroupName>
    </TypeSetting>
    <TypeSetting TypeName="Dorado.User.Model.UserProfile">
      <TypeId>18</TypeId>
      <Disabled>false</Disabled>
      <Compress>false</Compress>
      <GroupName>MemCache</GroupName>
    </TypeSetting>
    <TypeSetting TypeName="Dorado.ReportEngine.BizVersion.Model.ReportElementVer">
      <TypeId>19</TypeId>
      <Disabled>false</Disabled>
      <Compress>false</Compress>
      <GroupName>MemCache</GroupName>
    </TypeSetting>
    <TypeSetting TypeName="Dorado.Assessment.Model.ExamCache">
      <TypeId>20</TypeId>
      <Disabled>false</Disabled>
      <Compress>false</Compress>
      <GroupName>MemCache</GroupName>
    </TypeSetting>
    <TypeSetting TypeName="Dorado.Assessment.Model.ActiveExamPaper">
      <TypeId>21</TypeId>
      <Disabled>false</Disabled>
      <Compress>false</Compress>
      <GroupName>MemCache</GroupName>
    </TypeSetting>
    <TypeSetting TypeName="Dorado.Assessment.Model.CompanyCustomInfo">
      <TypeId>22</TypeId>
      <Disabled>false</Disabled>
      <Compress>false</Compress>
      <GroupName>MemCache</GroupName>
    </TypeSetting>
    <TypeSetting TypeName="Dorado.Assessment.Model.Dimension">
      <TypeId>23</TypeId>
      <Disabled>false</Disabled>
      <Compress>false</Compress>
      <GroupName>MemCache</GroupName>
    </TypeSetting>
    <TypeSetting TypeName="Dorado.Assessment.Model.DimensionList">
      <TypeId>24</TypeId>
      <Disabled>false</Disabled>
      <Compress>false</Compress>
      <GroupName>MemCache</GroupName>
    </TypeSetting>
    <TypeSetting TypeName="Dorado.Assessment.Model.Question">
      <TypeId>25</TypeId>
      <Disabled>false</Disabled>
      <Compress>false</Compress>
      <GroupName>MemCache</GroupName>
    </TypeSetting>
    <TypeSetting TypeName="Dorado.Assessment.Model.QuestionList">
      <TypeId>26</TypeId>
      <Disabled>false</Disabled>
      <Compress>false</Compress>
      <GroupName>MemCache</GroupName>
    </TypeSetting>
    <TypeSetting TypeName="Dorado.Recruiting.Online.Model.Themes">
      <TypeId>27</TypeId>
      <Disabled>false</Disabled>
      <Compress>false</Compress>
      <GroupName>MemCache</GroupName>
    </TypeSetting>
    <TypeSetting TypeName="Dorado.Recruiting.Online.Model.PortalSetting">
      <TypeId>28</TypeId>
      <Disabled>false</Disabled>
      <Compress>false</Compress>
      <GroupName>MemCache</GroupName>
    </TypeSetting>
    <TypeSetting TypeName="Dorado.Survey.TerminalTest.ExamContext">
      <TypeId>29</TypeId>
      <Disabled>false</Disabled>
      <Compress>false</Compress>
      <GroupName>MemCache</GroupName>
    </TypeSetting>
    <TypeSetting TypeName="Dorado.MultiTenant.Core.MetaObject">
      <TypeId>30</TypeId>
      <Disabled>true</Disabled>
      <Compress>false</Compress>
      <GroupName>MemCache</GroupName>
    </TypeSetting>
    <TypeSetting TypeName="Dorado.MultiTenant.Core.MetaRelation">
      <TypeId>31</TypeId>
      <Disabled>true</Disabled>
      <Compress>false</Compress>
      <GroupName>MemCache</GroupName>
    </TypeSetting>
    <TypeSetting TypeName="Dorado.Recruiting.Online.Model.JobListLong">
      <TypeId>32</TypeId>
      <Disabled>false</Disabled>
      <Compress>false</Compress>
      <GroupName>MemCache</GroupName>
    </TypeSetting>
    <TypeSetting TypeName="Dorado.Recruiting.Online.Model.JobListHot">
      <TypeId>33</TypeId>
      <Disabled>false</Disabled>
      <Compress>false</Compress>
      <GroupName>MemCache</GroupName>
    </TypeSetting>
    <TypeSetting TypeName="Dorado.Recruiting.Online.Model.ConstItem">
      <TypeId>34</TypeId>
      <Disabled>false</Disabled>
      <Compress>false</Compress>
      <GroupName>MemCache</GroupName>
    </TypeSetting>
    <TypeSetting TypeName="Dorado.Recruiting.Online.Model.MenuList">
      <TypeId>35</TypeId>
      <Disabled>false</Disabled>
      <Compress>false</Compress>
      <GroupName>MemCache</GroupName>
    </TypeSetting>
    <TypeSetting TypeName="Dorado.Recruit.Synchronize.Entity.AccountEntity">
      <TypeId>36</TypeId>
      <Disabled>false</Disabled>
      <Compress>false</Compress>
      <GroupName>MemCache</GroupName>
    </TypeSetting>
    <TypeSetting TypeName="Dorado.User.TenantDomain">
      <TypeId>37</TypeId>
      <Disabled>false</Disabled>
      <Compress>false</Compress>
      <GroupName>MemCache</GroupName>
    </TypeSetting>
    <TypeSetting TypeName="Dorado.Recruiting.Online.Model.AuthorizedPersonList">
      <TypeId>38</TypeId>
      <Disabled>false</Disabled>
      <Compress>false</Compress>
      <TTLSetting>
        <Enabled>true</Enabled>
        <DefaultTTLSeconds>30</DefaultTTLSeconds>
      </TTLSetting>
      <GroupName>TmsGenericStorage</GroupName>
    </TypeSetting>
    <TypeSetting TypeName="Dorado.PlatformServices.OpenApi.Model.TenantApiProfile">
      <TypeId>39</TypeId>
      <Disabled>false</Disabled>
      <Compress>false</Compress>
      <GroupName>MemCache</GroupName>
    </TypeSetting>
    <TypeSetting TypeName="Dorado.PlatformServices.OpenApi.Model.Product">
      <TypeId>40</TypeId>
      <Disabled>false</Disabled>
      <Compress>false</Compress>
      <GroupName>MemCache</GroupName>
    </TypeSetting>
    <TypeSetting TypeName="Dorado.PlatformServices.OpenApi.Model.TenantRequest">
      <TypeId>41</TypeId>
      <Disabled>false</Disabled>
      <Compress>false</Compress>
      <GroupName>MemCache</GroupName>
    </TypeSetting>
    <TypeSetting TypeName="Dorado.Feed.FeedIndex">
      <TypeId>42</TypeId>
      <RelatedIndexTypeId>43</RelatedIndexTypeId>
      <Disabled>false</Disabled>
      <Compress>false</Compress>
      <GroupName>Feed</GroupName>
    </TypeSetting>
    <TypeSetting TypeName="Dorado.Feed.FeedData">
      <TypeId>43</TypeId>
      <RelatedIndexTypeId>42</RelatedIndexTypeId>
      <Disabled>false</Disabled>
      <Compress>false</Compress>
      <GroupName>Feed</GroupName>
    </TypeSetting>
    <TypeSetting TypeName="Dorado.Feed.FeedSettings">
      <TypeId>44</TypeId>
      <Disabled>false</Disabled>
      <Compress>false</Compress>
      <GroupName>MemCache</GroupName>
    </TypeSetting>
    <TypeSetting TypeName="Dorado.User.Model.User">
      <TypeId>45</TypeId>
      <Disabled>false</Disabled>
      <Compress>false</Compress>
      <GroupName>MemCache</GroupName>
    </TypeSetting>
    <TypeSetting TypeName="Dorado.User.Model.UserLite">
      <TypeId>46</TypeId>
      <Disabled>false</Disabled>
      <Compress>false</Compress>
      <GroupName>MemCache</GroupName>
    </TypeSetting>
    <!--liushengquan add 2010-11-29-->
    <TypeSetting TypeName="Dorado.User.Model.StaffLite">
      <TypeId>47</TypeId>
      <Disabled>false</Disabled>
      <Compress>false</Compress>
      <GroupName>MemCache</GroupName>
    </TypeSetting>
  </TypeSettingCollection>
</RelayTypeSettings>