<RelayNode xmlns="http://myspace.com/RelayNodeConfig.xsd" majorVersion="1" minorVersion="1">
  <OutputTraceInfo>false</OutputTraceInfo>
  <NumberOfThreads>4</NumberOfThreads>
  <MaximumMessageQueueDepth>100000</MaximumMessageQueueDepth>
  <FatalShutdownTimeout>100</FatalShutdownTimeout>
  <IgnoredMessageTypes>
  </IgnoredMessageTypes>
</RelayNode>