<?xml version="1.0" encoding="utf-8"?>
<RelayComponents xmlns="http://myspace.com/RelayComponents.xsd" majorVersion="1" minorVersion="2">
  <RelayComponentCollection>
    <RelayComponent>
      <Name>Forwarding</Name>
      <Type>MySpace.DataRelay.RelayComponent.Forwarding.Forwarder, MySpace.DataRelay.RelayComponent.Forwarding</Type>
      <RelayComponentConfig ConfigHandlerType="MySpace.DataRelay.RelayComponent.Forwarding.ForwardingConfig,MySpace.DataRelay.RelayComponent.Forwarding">
        <ForwardingConfig xmlns="http://myspace.com/ForwardingConfig.xsd">
          <WriteMessageTrace>false</WriteMessageTrace>
          <TraceSettings>
            <WriteToDiagnostic>false</WriteToDiagnostic>
            <TraceFilename>OutputTrace.log</TraceFilename>
          </TraceSettings>
        </ForwardingConfig>
      </RelayComponentConfig>
    </RelayComponent>
  </RelayComponentCollection>
</RelayComponents>