<?xml version="1.0" encoding="utf-8"?>
<SocketClient type="MySpace.SocketTransport.SocketClientConfig,MySpace.SocketTransport.Client" xmlns="http://myspace.com/SocketClientConfig.xsd" majorVersion="1" minorVersion="1">
  <DefaultSocketSettings>
    <SocketPoolType>Linked</SocketPoolType>
    <SocketPoolSize>10</SocketPoolSize>
    <ConnectTimeout>3000</ConnectTimeout>
    <InitialMessageSize>1024</InitialMessageSize>
    <MaximumReplyMessageSize>20480</MaximumReplyMessageSize>
    <ReceiveBufferSize>8192</ReceiveBufferSize>
    <ReceiveTimeout>1000</ReceiveTimeout>
    <SendBufferSize>8192</SendBufferSize>
    <SendTimeout>10000</SendTimeout>
    <SocketLifetimeMinutes>60</SocketLifetimeMinutes>
    <UseNetworkOrder>false</UseNetworkOrder>
    <BufferReuses>10000</BufferReuses>
  </DefaultSocketSettings>
</SocketClient>