<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="applicationName" value="HelloWorldApp.Library"/>
    <add key="ClientSettingsProvider.ServiceUri" value=""/>
  </appSettings>
  <system.serviceModel>
    <extensions>
      <behaviorExtensions>
        <add name="logger" type="Beisen.ESB.Extensions.Behaviors.LoggerBehaviorSection, Beisen.ESB.Extensions, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null"/>
      </behaviorExtensions>
    </extensions>
    <services>
      <service name="HelloWorldApp.Library.HelloWorldService" behaviorConfiguration="HelloWorldService.ServiceBehavior">
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:8800/HelloWorldService"/>     
          </baseAddresses>
        </host>
        <endpoint address="http://localhost:8800/HelloWorldService" binding="basicHttpBinding" contract="HelloWorldApp.Contracts.ServiceContracts.IHelloWorldService">
        </endpoint>

        <endpoint address="net.tcp://localhost:8805/HelloWorldService" binding="netTcpBinding" contract="HelloWorldApp.Contracts.ServiceContracts.IHelloWorldService" bindingConfiguration="netTcp">
        </endpoint>

        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange"/>
      </service>
    </services>
    <bindings>
      <netTcpBinding>
        <binding name="netTcp" closeTimeout="00:05:00" openTimeout="00:05:00" receiveTimeout="00:10:00" sendTimeout="00:05:00" listenBacklog="10" maxBufferPoolSize="524288" maxBufferSize="65536" maxConnections="10" maxReceivedMessageSize="65536">
          <security mode="None"></security>
        </binding>
      </netTcpBinding>

    </bindings>
    <behaviors>
      <serviceBehaviors>
        <behavior name="HelloWorldService.ServiceBehavior">
          <serviceMetadata httpGetEnabled="True"/>
          <serviceDebug includeExceptionDetailInFaults="False"/>
          <dataContractSerializer maxItemsInObjectGraph="2147483647"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
  </system.serviceModel>

<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
