@{
    ViewBag.Title = "ViewHistory";
    Layout = "~/Views/Shared/_MainNoLayout.cshtml";
}
<div style="padding: 12px 30px">
    <table id="tt"></table>
</div>
<div id="dd" style="width: 300px; height: 130px;" closed="false">
    <div class="dd-content" style="padding: 20px">
    </div>
</div>
<script src="/Js/RemoteConfiguration/ViewHistory.js" type="text/javascript"></script>