<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="applicationName" value="HelloWcfApp.Library"/>
    <add key="ClientSettingsProvider.ServiceUri" value=""/>
  </appSettings>
  <system.serviceModel>
    <extensions>
      <behaviorExtensions>
        <add name="logger" type="Beisen.ESB.Extensions.Behaviors.LoggerBehaviorSection, Beisen.ESB.Extensions, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null"/>
      </behaviorExtensions>
    </extensions>
    <services>
      <service name="HelloWcfApp.Library.HelloWcfService" behaviorConfiguration="HelloWcfService.ServiceBehavior">
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:8811/HelloWcfService"/>
          </baseAddresses>
        </host>
        <endpoint address="" binding="basicHttpBinding" contract="HelloWcfApp.Contracts.ServiceContracts.IHelloWcfService">
        </endpoint>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange"/>
      </service>
    </services>
    <behaviors>
      <serviceBehaviors>
        <behavior name="HelloWcfService.ServiceBehavior">
          <serviceMetadata httpGetEnabled="True"/>
          <serviceDebug includeExceptionDetailInFaults="False"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
  </system.serviceModel>

<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
