<?xml version="1.0" encoding="utf-8"?>
<connectionStrings majorVersion="1" minorVersion="65">
  <!--Create By jiamingquan 2010-4-12-->
  <add name="Recruiment" providerName="System.Data.SqlClient" connectionString="Data Source=10.129.8.22;Initial Catalog=Recruitment;User ID=sa;Password=sa@od001;MultipleActiveResultSets=True;" />
  <!--Create By jiamingquan 2010-4-12-->
  <add name="RecruimentCV" providerName="System.Data.SqlClient" connectionString="Data Source=10.129.8.22;Initial Catalog=RecruitmentCV;User ID=sa;Password=sa@od001;MultipleActiveResultSets=True;" />
  <!--Create By jiamingquan 2010-4-12-->
  <add name="RecruimentAttachment" providerName="System.Data.SqlClient" connectionString="Data Source=10.129.8.22;Initial Catalog=RecruitmentAttachment;User ID=sa;Password=sa@od001;MultipleActiveResultSets=True;" />
  <!--Create By jiamingquan 2010-4-12-->
  <add name="RecruitmentSearchCV" providerName="System.Data.SqlClient" connectionString="Data Source=10.129.8.22;Initial Catalog=RecruitmentCV;User ID=sa;Password=sa@od001;MultipleActiveResultSets=True;" />
  <!--Create By jiamingquan 2010-4-16-->
  <add name="RecruimentIndex" providerName="System.Data.SqlClient" connectionString="Data Source=10.129.8.22;Initial Catalog=RecruitmentIndex;User ID=sa;Password=sa@od001;MultipleActiveResultSets=True;" />
  <!--Create By weizhigang 2010-5-14-->
  <add name="UIDev" providerName="System.Data.SqlClient" connectionString="Data Source=10.129.8.22;Initial Catalog=TenantSecurity;User ID=Dev_UI;Password=Dev_UI;MultipleActiveResultSets=True;" />
  <add name="UItest" providerName="System.Data.SqlClient" connectionString="Data Source=192.168.2.99;Initial Catalog=TestFuncDBUser;User ID=qa;Password=qa;MultipleActiveResultSets=True;" />
  <!--Create By zhangqinhua 2010-4-7 -->
  <add name="ErrorTracker" connectionString="Data Source=10.129.8.10;Initial Catalog=Doradoerrortracker;Integrated Security=False;User ID=Doradoops;Password=aaa111;Max Pool Size=10;Connect Timeout=20;Network Library=dbmssocn;Packet Size=4096" providerName="System.Data.SqlClient" />
  <!--Create By tao 2010-12-15 add ?-->
  <add name="Package" providerName="System.Data.SqlClient" connectionString="Data Source=10.129.8.22;Initial Catalog=Package;User ID=sa;Password=sa@od001;MultipleActiveResultSets=True;" />
  <!--Create By zhangqinhua 2010-4-7 -->
  <add name="ErrorTrackerStage" connectionString="Data Source=10.129.8.10;Initial Catalog=Doradoerrortracker;Integrated Security=False;User ID=Doradoops;Password=aaa111;Max Pool Size=10;Connect Timeout=20;Network Library=dbmssocn;Packet Size=4096" providerName="System.Data.SqlClient" />
  <add name="User01" providerName="System.Data.SqlClient" connectionString="Data Source=10.129.8.22;Initial Catalog=User;User ID=Dev_Assessment;Password=assessment@Dorado.com!;MultipleActiveResultSets=True;" />
  <!--?Create By zhangqinhua 2010-4-7 ?-->
  <add name="Email" providerName="System.Data.SqlClient" connectionString="Data Source=192.168.2.15;Initial Catalog=TestFuncDB360Mail;User ID=qa;Password=qa;MultipleActiveResultSets=True;" />
  <!--Create By liusq 2010-4-8-->
  <add name="TenantSecurity" providerName="System.Data.SqlClient" connectionString="Data Source=10.129.8.22;Initial Catalog=TenantSecurity;User ID=sa;Password=sa@od001;MultipleActiveResultSets=True;" />
  <!--Create By liusq 2010-4-8-->
  <add name="UserSecurity" providerName="System.Data.SqlClient" connectionString="Data Source=10.129.8.22;Initial Catalog=UserSecurity;User ID=usersecurity;Password=Pass@word1;MultipleActiveResultSets=True;" />
  <!--Create By liusq 2010-3-30-->
  <add name="Definition" providerName="System.Data.SqlClient" connectionString="Data Source=10.129.8.22;Initial Catalog=Definition;User ID=sa;Password=sa@od001;MultipleActiveResultSets=True;" />
  <!--Create By liusq 2010-4-7 -->
  <add name="ReportEngine" providerName="System.Data.SqlClient" connectionString="Data Source=10.129.8.22;Initial Catalog=Dorado.ReportEngine;Integrated Security=False;User ID=sa;Password=sa@od001;Max Pool Size=200;Pooling=true;Connect Timeout=200;Network Library=dbmssocn;Packet Size=4096" />
  <!--Create By lihui 2010-4-7 -->
  <add name="Message" providerName="System.Data.SqlClient" connectionString="Data Source=10.129.8.22;Initial Catalog=Message;User ID=sa;Password=sa@od001;MultipleActiveResultSets=True;" />
  <!--Create By hp 2010-4-7 -->
  <add name="User" providerName="System.Data.SqlClient" connectionString="Data Source=10.129.8.22;Initial Catalog=User;User ID=Dev_Assessment;Password=assessment@Dorado.com!;MultipleActiveResultSets=True;" />
  <!--Create By hp 2010-4-7 -->
  <add name="AssessmentBasicV1" providerName="System.Data.SqlClient" connectionString="Data Source=10.129.8.22;Initial Catalog=AssessmentBasic;User ID=Dev_Assessment;Password=assessment@Dorado.com!;MultipleActiveResultSets=True;" />
  <!--Create By hp 2010-4-7 ?-->
  <add name="Assessment" connectionString="metadata=res://*/Model1.csdl|res://*/Model1.ssdl|res://*/Model1.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=10.129.8.22;Initial Catalog=ConstManagement;User ID=sa;Password=sa@od001;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" />
  <!--Create By hp 2010-4-7 -->
  <add name="Assessment" providerName="System.Data.SqlClient" connectionString="Data Source=10.129.8.22;Initial Catalog=Assessment;User ID=Dev_Assessment;Password=assessment@Dorado.com!;MultipleActiveResultSets=True;" />
  <!--Create By hp 2010-4-7 -->
  <add name="ConstManagement" providerName="System.Data.SqlClient" connectionString="Data Source=10.129.8.22;Initial Catalog=ConstManagement;User ID=Dev_Assessment;Password=assessment@Dorado.com!;MultipleActiveResultSets=True;" />
  <!--?Create By liushengquan 2010-4-14 ?-->
  <add name="UIF_TenantSecurity" connectionString="metadata=res://*/Model.csdl|res://*/Model.ssdl|res://*/Model.msl;provider=System.Data.SqlClient;provider connection string=&quot;  Data Source=10.129.8.22;Initial Catalog=TenantSecurity;User ID=Dev_UI;Password=Dev_UI;MultipleActiveResultSets=True;&quot;" providerName="System.Data.EntityClient" />
  <!--?Create By gaogongge 2010-10-14 ?-->
  <add name="UIF_User" connectionString="metadata=res://*/Model.csdl|res://*/Model.ssdl|res://*/Model.msl;provider=System.Data.SqlClient;provider connection string=&quot;  Data Source=10.129.8.22;Initial Catalog=User;User ID=Dev_UI;Password=Dev_UI;MultipleActiveResultSets=True;&quot;" providerName="System.Data.EntityClient" />
  <!--?Create By lihui 2010-6-1 ?-->
  <add name="University" providerName="System.Data.SqlClient" connectionString="Data Source=10.129.8.21\sqlserver2008;Initial Catalog=University4.2;User ID=sa;Password=sa@123456;MultipleActiveResultSets=True;" />
  <add name="UniversityOCC41" providerName="System.Data.SqlClient" connectionString="Data Source=10.129.8.21\sqlserver2008;Initial Catalog=UniversityOCC4.2;User ID=sa;Password=sa@123456;MultipleActiveResultSets=True;" />
  <!--Create By bjy 2010-7-1 ?-->
  <add name="Survey" providerName="System.Data.SqlClient" connectionString="Data Source=10.129.8.22;Initial Catalog=Survey;User ID=sa;Password=sa@od001;MultipleActiveResultSets=True;" />
  <!--Create by xudong 2010-7-13-->
  <add name="Succession" providerName="System.Data.SqlClient" connectionString="Data Source=10.129.8.22;Initial Catalog=Succession;User ID=sa;Password=sa@od001;MultipleActiveResultSets=True;Pooling=true;Max Pool Size=100;Min Pool size=10" />
  <!--Create by xudong 2010-12-02-->
  <add name="Kci" providerName="System.Data.SqlClient" connectionString="Data Source=10.129.8.22;Initial Catalog=Succession;User ID=sa;Password=sa@od001;MultipleActiveResultSets=True;Pooling=true;Max Pool Size=100;Min Pool size=10" />
  <!--Create By zy 2010-8-9 -->
  <add name="MetaData" providerName="System.Data.SqlClient" connectionString="Data Source=10.129.8.22;Initial Catalog=Metadata;User ID=sa;Password=sa@od001;MultipleActiveResultSets=True;" />
  <!-- Create by guocheng.chen 2010-09-10  -->
  <add name="CMS" providerName="System.Data.SqlClient" connectionString="Data Source=10.129.8.22;Initial Catalog=CMS;User ID=sa;Password=sa@od001;MultipleActiveResultSets=True;" />
  <!--Create By bjy 2010-11-26 ?-->
  <add name="360" providerName="System.Data.SqlClient" connectionString="Data Source=10.129.8.22;Initial Catalog=360;User ID=sa;Password=sa@od001;MultipleActiveResultSets=True;" />
</connectionStrings>