<?xml version="1.0" encoding="utf-8"?>
<RelayNodeMapping xmlns="http://myspace.com/RelayNodeMapping.xsd" majorVersion="1" minorVersion="22">
  <RelayNodeGroups>
    <RelayNodeGroup Name="GenericStorage" Activated="true" DangerZoneSeconds="30">
      <SocketSettings />
      <RelayNodeClusters>
        <RelayNodeCluster>
          <RelayNodes>
            <RelayNode Activated="true" Host="10.129.8.22" Port="1000" GatherStatistics="true" ServiceType="Sockets" />
          </RelayNodes>
        </RelayNodeCluster>
      </RelayNodeClusters>
    </RelayNodeGroup>
    <RelayNodeGroup Name="Indicator" Activated="true" DangerZoneSeconds="30">
      <SocketSettings />
      <RelayNodeClusters>
        <RelayNodeCluster>
          <RelayNodes>
            <RelayNode Activated="true" Host="10.129.8.22" Port="1001" GatherStatistics="true" ServiceType="Sockets" />
          </RelayNodes>
        </RelayNodeCluster>
      </RelayNodeClusters>
    </RelayNodeGroup>
    <RelayNodeGroup Name="MemCache" Activated="true" DangerZoneSeconds="30">
      <SocketSettings />
      <RelayNodeClusters>
        <RelayNodeCluster>
          <RelayNodes>
            <RelayNode Activated="true" Host="10.129.8.22" Port="1002" GatherStatistics="true" ServiceType="Sockets" />
          </RelayNodes>
        </RelayNodeCluster>
      </RelayNodeClusters>
    </RelayNodeGroup>
    <RelayNodeGroup Name="TmsGenericStorage" Activated="true" DangerZoneSeconds="30">
      <SocketSettings />
      <RelayNodeClusters>
        <RelayNodeCluster>
          <RelayNodes>
            <RelayNode Activated="true" Host="10.129.8.22" Port="1003" GatherStatistics="true" ServiceType="Sockets" />
          </RelayNodes>
        </RelayNodeCluster>
      </RelayNodeClusters>
    </RelayNodeGroup>
    <RelayNodeGroup Name="Feed" Activated="true" DangerZoneSeconds="30">
      <SocketSettings />
      <RelayNodeClusters>
        <RelayNodeCluster>
          <RelayNodes>
            <RelayNode Activated="true" Host="10.129.8.22" Port="1004" GatherStatistics="true" ServiceType="Sockets" />
          </RelayNodes>
        </RelayNodeCluster>
      </RelayNodeClusters>
    </RelayNodeGroup>
  </RelayNodeGroups>
</RelayNodeMapping>