<RemoteConfigurationManager applicationName="Dorado.Package.ClientDemo" timeout="5000" readwriteTimeout="5000" timeInterval="10000" remoteConfigurationUrl="http://10.129.8.29:1101/ConfigVersionHandler.ashx" localConfigurationFolder="c:\Dorado.configs" backupConfig="False" maxBackupFiles="10" checkRemoteConfig="True" />