<PlatformServiceClientSettingsConfigV2 majorVersion="1" minorVersion="2">



 
  <Service name="PlatformServices_FullApi" type="Beisen.PlatformServices.Library.ServiceContracts.IHelloWorld,Beisen.PlatformServices.Interface"
		   address="http://localhost:8899/HelloWorld">

    <binding type="basicHttpBinding" closeTimeout="00:01:00"
				  openTimeout="00:01:00" receiveTimeout="00:01:00" sendTimeout="00:01:00"
				  transactionFlow="false" transferMode="Buffered" transactionProtocol="OleTransactions"
				  hostNameComparisonMode="StrongWildcard" listenBacklog="1000"
				  maxBufferPoolSize="65536" maxBufferSize="65536" maxConnections="100"
				  maxReceivedMessageSize="65536" >
      <readerQuotas maxDepth="64" maxStringContentLength="131072" maxArrayLength="16384"
					maxBytesPerRead="131072" maxNameTableCharCount="16384" />
    </binding>
    <channelPoolConfig enabled="true" poolSize="16" waitingTimeout="1" />
    <fileGenerationConfig sourceFileTemplate="c:\{type}_proxy.cs" sourceFactoryFileTemplate="c:\{type}_proxy_factory.cs" enabled="true" />
  </Service>

</PlatformServiceClientSettingsConfigV2>
