<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="LocalRepository" type="Beisen.ESB.Common.Config.LocalRepositorySection, Beisen.ESB.Common, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null"/>
    <section name="ConfigBasedApplications" type="Beisen.Configuration.XmlSerializerSectionHandler,Beisen.Configuration"/>
  </configSections>
  <LocalRepository enable="true" endpointName="boot">
    <HostMetadata hostName="API_BeisenPlatformServices" assemblyNames="Beisen.ESB.Core">
      <Services>
        <add name="PlatformServicesComponent.HelloWorld" serviceType="PlatformServiceComponent.HelloWorld.HelloWorldService" appDomainHostName="Beisen.ESB.HelloWorld" config="LocalRepository\HelloWorld\PlatformServiceComponent.HelloWorld.config" assemblyFolderName="LocalRepository\HelloWorld" assemblyNames="PlatformServiceComponent.HelloWorld"/>        
      </Services>
    </HostMetadata>
  </LocalRepository>
  <ConfigBasedApplications type="Beisen.Applications.Configuration.ConfigBasedApplications, Beisen.Applications">
    <Applications>
    </Applications>
  </ConfigBasedApplications>
  <appSettings>
    <!--<add key="applicationName" value="Beisen.PlatformServices"/>-->
    <add key="applicationName" value="Beisen.ESB.Framework"/>
    <!--<add key="applicationName" value="Beisen.PlatformServices.ESBFramework"/>-->
    <add key="environment" value="Testing"/>
    <add key="PowerShellServerHost" value="Enabled"/>
    <add key="ValidRequestTimeDuration" value="15"/>
    <add key="logging" value="Enabled"/>
    <add key="ClientSettingsProvider.ServiceUri" value=""/>
    <add key="PerfLogTrack" value="Disabled"/>
  </appSettings>
  <runtime>
    <gcServer enabled="true"/>
  </runtime>
  <system.serviceModel>
    <diagnostics performanceCounters="All"/>
    <services>
      <service name="Beisen.ESB.Core.DomainLoader" behaviorConfiguration="loader">
        <endpoint address="net.pipe://localhost/DomainLoader" binding="netNamedPipeBinding" bindingConfiguration="loader" contract="Beisen.ESB.Core.Contracts.IDomainLoader"/>
      </service>
    </services>
    <client>
      <endpoint name="boot" address="net.pipe://localhost/LocalRepository" binding="netNamedPipeBinding" bindingConfiguration="bootstrap" contract="Beisen.ESB.Core.Contracts.IBootstrap"/>
    </client>
    <behaviors>
      <serviceBehaviors>
        <behavior name="loader">
          <serviceMetadata httpGetEnabled="true"/>
          <serviceDebug includeExceptionDetailInFaults="true"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <bindings>
      <netNamedPipeBinding>
        <binding name="bootstrap">
          <readerQuotas maxStringContentLength="2000000"/>
          <security mode="None"/>
        </binding>
        <binding name="loader">
          <security mode="None"/>
          <readerQuotas maxStringContentLength="500000"/>
        </binding>
      </netNamedPipeBinding>
    </bindings>
  </system.serviceModel>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri=""/>
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400"/>
      </providers>
    </roleManager>
  </system.web>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
