<?xml version="1.0"?>
<SqlSettings xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema" MajorVersion="1" MinorVersion="1">
  <Sqls UseDB="Default">
    <Sql Name="Test" Description="Test">
      <Parameters>
        <Parameter Name="id" DataType="int" />
        <Parameter Name="type" DataType="tinyint" IsOutput="true" />
      </Parameters>
      <Body>
        <![CDATA[SELECT TOP 1000 [ID]
      ,[UserId]
      ,[OccurTime]
      ,[Type]
      ,[IP]
      ,[Description]
  FROM [UU_Platform_Gold].[dbo].[sys_Event] WHERE id=@id and type=@type]]>
      </Body>
    </Sql>
  </Sqls>
</SqlSettings>