<?xml version="1.0" encoding="utf-8"?>
<dataExpress>
  <pool-collection>
    <clear />
    <!--池属性: name 连接池名称,logging 是否启用日志，default是否默认连接池,useNativePool是否使用原生连接池-->
    <pool name="defualt" logging="true" default="true" useNativePool="false">
      <!--别名-->
      <alias>
        <add key="LocalSqlServer" />
      </alias>
      <filters>
        <filter name="仅供SqlServer测试使用" value="Novapor.DataExpress.Tests.SqlServer" />
      </filters>
      <!--初始化设置：initialSize 初始连接数;maxActive 最大连接数;maxWait 最长等候；maxTimeout 超时回收时间(已经取出去的对象);timeoutCheck 是否进行超时检测-->
      <initiator initialSize="5" maxActive="100" maxWait="30000" maxTimeout="60000" timeoutCheck="true" />
      <!--特性： dirver 指定连接池的驱动程序；dialect 指定连接池的方言-->
      <features driver="MsSql2005" dialect="MsSql" />
      <!--池内对象的空闲检测: maxIdle 最长闲置时间，check 是否检测,interval 检查间隔时常-->
      <idle maxIdle="11000" check="true" interval="30000" />
      <!--连接设置： value 连接字符串，encrptyed 是否启用加密连接字符串-->
      <connection encrypted="false" value="server=.;user id=sa;password=reborn1129@;database=wikiuser;pooling=false" />
    </pool>

    <!--池属性: name 连接池名称,logging 是否启用日志，default是否默认连接池,useNativePool是否使用原生连接池-->
    <pool name="cms" logging="true" default="false" useNativePool="false">
      <!--初始化设置：initialSize 初始连接数;maxActive 最大连接数;maxWait 最长等候；maxTimeout 超时回收时间(已经取出去的对象);timeoutCheck 是否进行超时检测-->
      <initiator initialSize="3" maxActive="100" maxWait="30000" maxTimeout="60000" timeoutCheck="true" />
      <!--特性： dirver 指定连接池的驱动程序；dialect 指定连接池的方言-->
      <features driver="MsSql2005" dialect="MsSql" />
      <!--池内对象的空闲检测: maxIdle 最长闲置时间，check 是否检测,interval 检查间隔时常-->
      <idle maxIdle="300000" check="true" interval="30000" />
      <!--连接设置： value 连接字符串，encrptyed 是否启用加密连接字符串-->
      <connection encrypted="false" value="server=.;user id=sa;password=reborn1129@;database=9fsystem_com;pooling=false" />
    </pool>
    <pool name="oracleCMS" logging="true" default="false" useNativePool="false">
      <!--初始化设置：initialSize 初始连接数;maxActive 最大连接数;maxWait 最长等候；maxTimeout 超时回收时间(已经取出去的对象);timeoutCheck 是否进行超时检测-->
      <initiator initialSize="3" maxActive="5" maxWait="30000" maxTimeout="60000" timeoutCheck="true" />
      <!--特性： dirver 指定连接池的驱动程序；dialect 指定连接池的方言-->
      <features driver="Oracle" dialect="Oracle" />
      <!--池内对象的空闲检测: maxIdle 最长闲置时间，check 是否检测,interval 检查间隔时常-->
      <idle maxIdle="300000" check="true" interval="30000" />
      <!--连接设置： value 连接字符串，encrptyed 是否启用加密连接字符串-->
      <connection encrypted="false" value="Data Source=182.50.0.195/orcl;User ID=original_user;Password=origin2010>;pooling=false" />
    </pool>
    <!--<pool name="orcl-1" logging="true" default="false" useNativePool="false">
      -->
    <!--别名-->
    <!--
      <alias>
        <add key="Orginal Tracker" />
      </alias>
      <filters>
        <filter name="测试" value="Novapor.DataExpress.Tests.Oracle" />
      </filters>
      -->
    <!--初始化设置：initialSize 初始连接数;maxActive 最大连接数;maxWait 最长等候；maxTimeout 超时回收时间(已经取出去的对象);timeoutCheck 是否进行超时检测-->
    <!--
      <initiator initialSize="5" maxActive="20" maxWait="30000" maxTimeout="60000" timeoutCheck="true" />
      -->
    <!--特性： dirver 指定连接池的驱动程序；dialect 指定连接池的方言-->
    <!--
      <features driver="Oracle" dialect="Oracle" />
      -->
    <!--池内对象的空闲检测: maxIdle 最长闲置时间，check 是否检测,interval 检查间隔时常-->
    <!--
      <idle maxIdle="11000" check="true" interval="30000" />
      -->
    <!--连接设置： value 连接字符串，encrptyed 是否启用加密连接字符串-->
    <!--
      -->
    <!--<connection encrypted="false" value="server=localhost;user id=root;password=781109;database=10fnn;Protocol=socket;pooling=false;CharSet=utf8" />-->
    <!--
      <connection encrypted="false" value="Data Source=10.129.6.223/orcl;User ID=sys;Password=fastdata;pooling=false" />
    </pool>-->

    <!--池属性: name 连接池名称,logging 是否启用日志，default是否默认连接池,useNativePool是否使用原生连接池-->
    <!--<pool name="yoygou" logging="true" default="false" useNativePool="false">
      -->
    <!--别名-->
    <!--

      -->
    <!--初始化设置：initialSize 初始连接数;maxActive 最大连接数;maxWait 最长等候；maxTimeout 超时回收时间(池内对象);timeoutCheck 是否进行超时检测-->
    <!--
      <initiator initialSize="5" maxActive="10" maxWait="30000" maxTimeout="60000" timeoutCheck="true" />
      -->
    <!--特性： dirver 指定连接池的驱动程序；dialect 指定连接池的方言-->
    <!--
      <features
        driver="Tiwx.FastData.Driver.MSSql2000,Tiwx.FastData"
        dialect="Tiwx.FastData.Dialect.MSSql2000,Tiwx.FastData" />
      -->
    <!--池外对象的空闲检测: maxIdle 最长闲置时间，check 是否检测,interval 检查间隔时常-->
    <!--
      <idle maxIdle="11000" check="true" interval="30000" />
      -->
    <!--连接设置： value 连接字符串，encrptyed 是否启用加密连接字符串-->
    <!--
      <connection encrypted="false" value="server=192.168.0.220;user id=sa;password=sa;database=yoygou;pooling=false" />
    </pool>-->
  </pool-collection>
</dataExpress>